NODE_ENV="dev"

DEV_DB_FILENAME=[nome_do_arquivo].db
PROD_DB_FILENAME=[nome_do_arquivo].db

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_usuario@app.com
SMTP_PASS=sua_senha_ou_app_password
DESTINY_EMAIL=seu_email@gmail.com

PORT=3000
DEV_ROOT_PATH="http://localhost"
PROD_ROOT_PATH="https://seu.site.com"
