BASE_DOMAIN=mysite.domain
EMAIL_ADDRESS=mycontact@email.com
GITHUB_URL=https://github.com/My-Gh-Profile
LINKEDIN_URL=https://linkedin.com/in/my-linkedin-profile
RESUME_PATH=/MEU_CURRICULO.pdf
PRO_PHOTO_PATH=/MINHA_FOTO_PROFISSIONAL.png
